<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= product.name%> details</title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <header>
      <nav class="nav-header">
        <a class="nav-item" href="/admin">Admin Products</a>
        <a class="nav-item" href="/admin/add-product">Admin Add Product</a>
        <a class="nav-item" href="/index">Shop</a>
      </nav>
    </header>
    <h1><%= product.name%></h1>
    <div>
      <p><%= product.name%></p>
      <p><%= product.price%></p>
      <p><%= product.quantity%></p>
    </div>
  </body>
</html>
