<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>Products</header>
    <ul>
      <% if(products.length>0) {%> <% for(let product of products){%>
      <p><%= product.name%></p>
      <p><%= product.price%></p>
      <form action="/admin/sell-product/">
        <input type="hidden" value="<%=product.id %>" />
        <button type="submit">Order 1</button>
      </form>
      <form>
        <input type="hidden" value="<%=product.id %>" />
        <button type="submit">Order 1</button>
      </form>
      <form>
        <input type="hidden" value="<%=product.id %>" />
        <button type="submit">Order 1</button>
        <button>Order 1</button>
        <button>Order 1</button>
      </form>
      <%} %> <%} else {%>
      <h1>No product found!</h1>
      <%} %>
    </ul>
  </body>
</html>
